@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

body h2{
	margin-top: -55px;
	margin-bottom: 20px;
	font-size: 50px;
	color: #7d2ae8;
}

.container{
	padding: 2rem 7rem;
	background: #ebebeb;
	border-radius: 20px;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}

.resultImg{
	display: flex;
	column-gap: 7rem;
}

.resultImg img{
	width: 100px;
}

.userResult img{
	transform: rotate(90deg);
}

.cpuResult img{
	transform: rotate(-90deg) rotateY(180deg);
}

.result{
	text-align: center;
	font-size: 2rem;
	color: #7d2ae8;
	margin-top: 1.5rem;
}

.optionImg img{
	width: 50px;
}

.options{
	display: flex;
	align-items: center;
	margin-top: 2.5rem;
	color: #7d2ae8;
	justify-content: space-between;
}

.optionImg{
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0.5;
	transition: 0.3s;
	cursor: pointer;
}

.optionImg:hover{
	opacity: 1;
}

.optionImg.active{
	opacity: 1;
}

.optionImg img{
	pointer-events: none;
}